rules_version = '2';

service firebase.storage {
  match /b/bucket/o {
    // User profile images & exported PDF reports
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /reports/{userId}/{allPaths=**} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId
                   && request.resource.contentType.matches('application/pdf');
    }
  }
}
